<div class="row">
  <div class="col-lg-12">
    <h2 class="mb-0">Utenti</h2>
    <p>Sottotitolo</p>

    <div class="table-container">
      <nz-table
        nzShowPagination
        nzShowSizeChanger
        [nzPageSize]="10"
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
        class="kit__utils__table"
        [nzData]="users"
      >
        <thead>
          <tr>
            <th
              *ngFor="let column of listOfColumns"
              [nzSortOrder]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzSortDirections]="column.sortDirections"
              [nzFilterMultiple]="column.filterMultiple"
              [nzFilters]="column.listOfFilter"
              [nzFilterFn]="column.filterFn"
            >
              {{ column.name }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of itemsInPage">
            <td>{{ data.login }}</td>
            <td>{{ data.firstName }}</td>
            <td>{{ data.lastName }}</td>
            <td>{{ data.email }}</td>
            <td>
              <a
                nz-tooltip
                [nzTooltipTitle]="'Visualizza'"
                class="mr-3 btn btn-outline-primary"
                [routerLink]="'/segnalame/settings/users/view/' + data.id"
              >
                <i nz-icon nzType="eye"></i>
              </a>
              <!-- <a
                        nz-tooltip
                        [nzTooltipTitle]="'Modifica'"
                        class="mr-3 btn btn-outline-primary"
                        [routerLink]="'/segnalame/settings/users/edit/' + data.id"
                      >
                        <i nz-icon nzType="edit"></i>
                      </a> -->
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
