<div class="row">

    <div class="col-lg-12">
        <div>
            <nz-alert nzType="error" nzMessage="Attenzione" [nzDescription]="errorSave" nzShowIcon *ngIf="errorSave">
            </nz-alert>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <!-- <div class="card">
        <div class="card-header"> -->
        <h2 class="mb-0" *ngIf="pageTitle">
            {{ pageTitle }}
        </h2>
        <p *ngIf="pageSubtitle">
            {{ pageSubtitle }}
        </p>
        <!-- </div>
        <div class="card-body"> -->

        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

            <nz-form-item>
                <nz-form-label [nzRequired]="true" [nzSm]="4" [nzXs]="24" nzFor="login" class="text-left">Login</nz-form-label>
                <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Inserisci il login">
                    <input nz-input formControlName="login" placeholder="Inserisci il login..." [readonly]="true" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzRequired]="false" [nzSm]="4" [nzXs]="24" nzFor="firstName" class="text-left">Nome</nz-form-label>
                <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Inserisci il nome">
                    <input nz-input formControlName="firstName" placeholder="Inserisci il nome..." [readonly]="!edit" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzRequired]="false" [nzSm]="4" [nzXs]="24" nzFor="lastName" class="text-left">Cognome</nz-form-label>
                <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Inserisci il cognome">
                    <input nz-input formControlName="lastName" placeholder="Inserisci il cognome..." [readonly]="!edit" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzRequired]="false" [nzSm]="4" [nzXs]="24" nzFor="email" class="text-left">Email</nz-form-label>
                <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Inserisci l'indirizzo email">
                    <input nz-input formControlName="email" placeholder="Inserisci l'indirizzo email..." [readonly]="!edit" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="activated" class="text-left">Attivato</nz-form-label>
                <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Attivato">
                    <label
                    nz-checkbox
                    formControlName="activated"
                    [nzChecked]="user.activated"
                    [nzDisabled]="!edit"
                    [nzValue]="1"
                    >
                    </label>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control class="item-actions-container">
                    <a routerLink="/segnalame/settings/users" class="btn btn-default px-5">Indietro</a>

                    <button type="submit" class="btn btn-success px-5" [disabled]="validateForm.invalid" *ngIf="edit">
                        Salva
                    </button>
                </nz-form-control>
            </nz-form-item>
        </form>
        <!-- </div> -->
        <!-- </div> -->
    </div>
</div>