:host {
  .not-used {
    color: transparent;
  }
}

.search-box {
  min-width: 280px;
  padding: 8px;

  .ant-select {
    display: block;
    width: 100%;
    margin-bottom: 8px;
  }

  input {
    width: 100%;
    margin-bottom: 8px;
    display: block;
  }

  button {
    width: 90px;
  }

  .search-button {
    margin-right: 8px;
  }

  .search-date-range {
    display: flex;
    width: 720px;

    .single-date {
      flex: 0 0 350px;
      margin-right: 5px;
      padding-right: 5px;
      border-right: 1px solid rgba(0, 0, 0, 0.4);

      &:last-child {
        margin-right: 0;
        padding-right: 0;
        border-right: none;
      }
    }
  }
}
