<div class="row">

  <div class="col-lg-12">
    <div>
      <nz-alert nzType="error" nzMessage="Attenzione" [nzDescription]="errorSave" nzShowIcon *ngIf="errorSave">
      </nz-alert>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-lg-12">
    <!-- <div class="card">
      <div class="card-header"> -->
        <h2 class="mb-0">
          Crea categoria struttura
        </h2>
        <p>
          Inserisci una nuova categoria struttura
        </p>
      <!-- </div>
      <div class="card-body"> -->

        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

          <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="full-name" class="text-left">Categoria</nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="Inserisci la categoria">
              <input nz-input formControlName="categoria" placeholder="Inserisci la categoria..." />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control>
              <button type="submit" class="btn btn-success px-5" [disabled]="validateForm.invalid">
                Salva
              </button>
            </nz-form-control>
          </nz-form-item>
        </form>
      <!-- </div> -->
    <!-- </div> -->
  </div>
</div>